#logo {
  width: 350px;
  margin: 40px;
}

body{
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  width: 90vw;  /* width = largura */
  max-width: 700px;  /* Tamanho máximo da div #container  */
}

@media (min-width: 700px) {
  #logo {
    width: 600px;
  }
}

.input-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-block label {
  font-family: Poppins;
  color: gray;
  margin-top: .8rem;
}

input{
  border: 1px solid #68b465;
  background: #fdfdfd;
  margin-top: .4rem;
  padding: 10px;  
  border-radius: 8px;
}

input:focus{
  outline: none;
}

button{
  border: none;
  background: #68b465;
  padding: 10px;
  margin-top: .8rem;
  border-radius: 8px;
  cursor: pointer;
  color:#fdfdfd;
  font-family: Poppins;
}

button:hover{
  background-color: #8fdb8b;
  transition: 1s;
}

button:focus{
  outline: none;
}

.containerResult {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.boxResult { 
  width: 350px;
  padding: 10px; 
  border: 1px solid #d8d8d8; 
  background: #FDFDFD;
  border-radius: 8px;
}

.boxResult p{
  font-size: 20px;
  color: gray;
}

.textGreen { color: #37a007; }

.textBlue { color: #376AD1; }

.textRed { color: #d13737; }